/*BASIC ELEMENT STYLES*/
			
html, body {
	height: 94%;
}

body {
	padding: 70px 2% 0 2%;
	margin: 0;
}

footer {
	text-align: center;
	font-size: 0.8em;
}

@media screen and (max-width: 425px) {
	#mapsFooter {
		display: none;
	}
}

#mapsFooter {
	margin-top: -20px;
}

td {
	padding: 0 0 0 10px;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.legend {
	line-height: 18px;
	color: #555;
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 2px 2px 1px #888888;
}

.popup_title {
	text-decoration: none;
	background-color:  #777;
	color: white;
	padding: 5px;
	text-align: center;
	box-shadow: 2px 2px 1px #888888;
}

.popup_body {
	padding-top: 5px;
}

/*LEGEND STYLES*/

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#colorlegend1, #colorlegend2, #colorlegend3, #colorlegend4, #colorlegend5, #colorlegend6, #colorlegend7, #colorlegend8, #colorlegend9 {
	height: 18px;
	width: 18px;
}

#colorlegend1 {
	background-color: #b30000;
}

#colorlegend2 {
	background-color: #e60000;
}

#colorlegend3 {
	background-color: #ff1a1a;
}

#colorlegend4 {
	background-color: #ff4d4d;
}

#colorlegend5 {
	background-color: #ff8080;
}

#colorlegend6 {
	background-color: #ffb3b3;
}

#colorlegend7 {
	background-color: #ffe6e6;
}

#colorlegend8 {
	background-color: #9999ff;
}

#colorlegend9 {
	background-color: #00008B;
}

#electionlegend1, #electionlegend2, #electionlegend3, #electionlegend4, #electionlegend5, #electionlegend6, #electionlegend7, #electionlegend8 {
	height: 18px;
	width: 18px;
}

#electionlegend1 {
	background-color: #104896;
}

#electionlegend2 {
	background-color: #2d67b7;
}

#electionlegend3 {
	background-color: #4880ce;
}

#electionlegend4 {
	background-color: #87b9ff;
}

#electionlegend5 {
	background-color: #f7d4d4;
}

#electionlegend6 {
	background-color: #ff9696;
}

#electionlegend7 {
	background-color: #ff6d6d;
}

#electionlegend8 {
	background-color: #ff2b2b;
}


@media screen and (max-width: 425px) {
	.legend {
		line-height: 10px;
		padding: 8px;
		height: 100px;
	}
	
	#colorlegend1,#colorlegend2,#colorlegend3,#colorlegend4,#colorlegend5,#colorlegend6,#colorlegend7,#colorlegend8,#colorlegend9,
	#electionlegend1, #electionlegend2, #electionlegend3, #electionlegend4, #electionlegend5, #electionlegend6, #electionlegend7, #electionlegend8 {
		height: 10px;
		width: 10px;	
	}
	
	.legend i {
		width: 10px;
		height: 10px;
	}
}

/*NAVBAR STYLES*/

.navbar-default {
	border-style: none;
	background-color: white;
	padding: 5px 1.5% 5px 1.5%;
}

.checkbox {
	padding-left: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: "Arial Black", sans-serif;
	font-weight: 900;
}

#bs-example-navbar-collapse-1 .navbar-nav>li>a:hover,
#bs-example-navbar-collapse-1 .navbar-nav>li>a:focus {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(209, 209, 209, 1);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(209, 209, 209, 1);
}

#eac-container-provider-file {
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

@media screen and (max-width: 425px) {
	#countySearch {
		width: 100%;
		display: inline-block;
		float: left;
		margin-bottom: 5px;
	}
	
	#divide {
		display: none;
	}
	
	#searchDiv {
		display: none;
	}
	
	#layerSelect{
		width: 45%;
		display: inline-block;
		float: right;
		text-align: center;
		padding: 5px 5px 8px 5px;
		margin-bottom: 5px;
	}
}

/*SIDEBAR STYLES*/

.sidebar {
	background-color: white;
	height: 400px;
	margin: 60px 50px 0 2%;
	position: fixed;
	width: 28%;
	z-index: 1029;
}

.sidebar-header {
	background-color: #777;
}

.sidebar-tabs>li.active, .sidebar-tabs>ul>li.active {
	background-color: #777;
}

#settings_list {
	margin-top: 10px;
}

@media screen and (max-width: 1800px) {
	.sidebar {
		width: 29%;
	}
}

@media screen and (max-width: 1700px) {
	.sidebar {
		width: 31%;
	}
}

@media screen and (max-width: 1600px) {
	.sidebar {
		width: 33%;
	}
}

@media screen and (max-width: 1500px) {
	.sidebar {
		width: 36%;
	}
}

@media screen and (max-width: 1400px) {
	.sidebar {
		width: 39%;
	}
}

@media screen and (max-width: 1300px) {
	.sidebar {
		width: 42%;
	}
}

@media screen and (max-width: 1200px) {
	.sidebar {
		width: 45%;
	}
}

@media screen and (max-width: 1100px) {
	.sidebar {
		width: 48%;
	}
}

@media screen and (max-width: 1000px) {
	.sidebar {
		width: 51%;
	}
}

@media screen and (max-width: 900px) {
	.sidebar {
		width: 60%;
	}
}

@media screen and (max-width: 870px) {
	.sidebar {
		margin-top: 130px;
	}
}

@media screen and (max-width: 800px) {
	.sidebar {
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	.sidebar {
		width: 85%;
	}
}



#election_table{
	display: inline;
}


#info_chart {
	min-height: 100%;
	padding: 10px 20px 0px 0px;
	overflow: hidden;
}

#myChart {
	margin-top: 1%;
	height: 90px;
	width: 100px;
}

@media screen and (max-width: 425px) {
	.sidebar {
		height: 400px;
		margin: 205% 0 0 0;
		position: absolute;
		width: 100%;
		clear: both;
		top: -100px;
		font-size: 12px;
	}
}

@media screen and (min-width: 425px) {
	#License {
		display: none;
	}
}

/*MAP AREA STYLES*/

#map {
	height: 100%;
	margin: -10px 0px 0 0px;
	border: 1px solid;
	border-color: #C0C0C0;
	box-shadow: 10px 10px 10px -6px rgba(0,0,0,0.23);
}

@media screen and (max-width: 425px) {
	#map {
		height: 80%;
		width: 100%;
		margin: 0px;
		border: 1px solid;
		border-color: #C0C0C0;
		box-shadow: none;
		z-index: 1;
	}
}

/*MAP TITLE STYLES*/

#mapTitleArea {
	margin-top: 10px;
	border-style: none;
	background-color: white;
	border-color: #C0C0C0;
	text-align: center;
}

#mapTitleArea .h3, #mapTitleArea h3 {
	margin: 10px;
}

#mapTitleText {
	font-family: "Arial Black", sans-serif;
	font-weight: 900;
	color: #777;
	font-size: 18px;
	padding-top: 10px;
	display: inline-block;
}

#userMessage {
	text-align: center;
	padding-bottom: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #555;
}
		
/*ABOUT PAGE STYLES*/		
		
.about_txt {
	margin-left: 20%;
	margin-right: 20%;	
}		

#about_me_img {
	display: inline-block;
	float: left;
	height: 200px;
	width: 200px;
	margin-right: 10px;
}

@media screen and (max-width: 425px) {
	.about_txt {
		margin-left: 5%;
		margin-right: 5%;
	}
	
	#about_me_img {
		display: block;
		margin-right: 50%;
		margin-bottom: 5%;
	}	
}

/*LANDING PAGE STYLES*/  
#jumboMain {
	padding-left: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	width: 100%;
	margin-bottom: 0px;
	margin-top: -20px;
}

.jumbotron {
	background-color: white;
	margin-bottom: 0px;
}

.jumboimage {
	width:	2000px;
	min-height: 1050px;
}

@media screen and (max-height: 1149px) {
	.jumboimage {
		min-height: 950px;
	}
}

@media screen and (max-height: 1049px) {
	.jumboimage {
		min-height: 850px;
	}
}

@media screen and (max-height: 949px) {
	.jumboimage {
		min-height: 750px;
	}
}

@media screen and (max-height: 849px) {
	.jumboimage {
		min-height: 650px;
	}
}

@media screen and (max-height: 749px) {
	.jumboimage {
		min-height: 550px;
	}
}

@media screen and (max-height: 649px) {
	.jumboimage {
		min-height: 450px;
	}
}

@media screen and (max-width: 750px) {
	.jumboimage {
		max-height: 300px;
		min-height: 300px;
	}
}

#jumboText {
	position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption {
	position: absolute;
    bottom: 5%;
    left: -40%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

@media screen and (max-width: 1400px) {
	.carousel-caption {
		bottom: 3%;
	}
}

@media screen and (max-width: 1000px) {
	.carousel-caption {
		bottom: 1%;
	}
}

@media screen and (max-width: 500px) {
	.carousel-caption {
		bottom: 0%;
	}
}

@media screen and (max-width: 425px) {
	#navbuttons {
		display: inline;
	}
	
	#electionImg {
		content:url("img/MainMapElection_small.jpg");
	}
	
	#populationImg {
		content:url("img/MainMapPopulation_small.jpg");
	}
	
	#demographicsImg {
		content:url("img/MainMapDemographics_small.jpg");
	}

	footer {
		font-size: 0.8em;
		margin-top: 20px;
	}

}

@media screen and (min-width: 426px) {
	#navbuttons{
		display: none;
	}
	#layerSelect{
		display: none;
	}
}

#navbuttons{
	text-align: center;
}

.btn{
	background-color: rgba(209,209,209,1);
	border-width: 0px;
	text-decoration: none;
	color: white;
}

.btn:focus, .btn:active, .btn:hover{
	background-color: grey;
}

#navbuttons > a {
	text-decoration: none;
	color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: none;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

a:focus {
	outline: 0px;
}

label {
	font-weight: normal;
}

/*TIME SLIDER STYLES*/ 

.slider-track {
	box-shadow: 1px 1px #888888;
}

.slider.slider-vertical {
  height: 100px;
  margin-top: 10px;
}

.slider-tick.round {
	box-shadow: 1px 1px 1px #888888;
}

.slider-tick.in-selection {
  box-shadow: 1px 1px 1px #888888;
  background-image: linear-gradient(rgb(249, 249, 249) 0px, rgb(245, 245, 245) 100%);
}

.slider-selection.tick-slider-selection {
  box-shadow: 1px 1px 1px #888888;
  background-image: linear-gradient(rgb(249, 249, 249) 0px, rgb(245, 245, 245) 100%);
}

.slider-tick-label {
	margin-left: -175% !important;
	color: white;
	font-weight: bold;
	text-shadow: 1px 1px grey;
}

.slider3 {
	display: none;
}

#sidebar {
	box-shadow: 1px 1px 1px #888888;
}

@media (min-width: 768px){
	.sidebar.leaflet-touch{
		border-style: none;
	}
}

.sidebar.leaflet-touch{
	border-style: none;
}

#linkShare {
	background-color: #777;
	display: inline;
}

#linkShareArea{
	display: inline-block;
	margin-right: 5px;
}


@media screen and (max-width: 500px) {
	#shareLinkURL{
		 margin-left: -20%;
		 transform: scale(0.7);
	}
}

.btn.btn-secondary{
	background-color: #777;
}

#exampleModalLabel {
	font-weight: bold;
	text-align: left;
	display: inline;
}

/* Style all font awesome icons */
.social {
    padding: 20px;
    font-size: 30px;
    width: 18%;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.social:hover {
    opacity: 0.7;
	text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}